@import "tailwindcss";
body{
    background: #000;
}
.MuiNativeSelect-select option {
  background-color: #13161a !important;
  color: white !important;
}

.MuiNativeSelect-select {

background-color: #13161a !important;
}